.pierwszy {
    border: 1px solid black;
}

.drugi {
    /* margin-top: 20px; */
    margin: 20px 0 0 0;
    border: 1px solid red;
}

.trzeci {
    margin-top: 10px;
    border: 1px solid black;
    display: flex;
}

.trzeci > * {
    background-color: red;
    margin: 5px;
}