.klasa1,
.klasa2 {
    font-weight: bold;
}

.klasa2 {
    color: red;
    border: 1px solid #000;
    /*
        To powyżej to jest skrót od:
        
        border-width: 1px;
        borde-style: solid;
        border-color: #000
    */
}